
@{
    ViewBag.Title = "Pemesanan";
    Layout = "~/Views/Shared/_Template.cshtml";
}
<!-- start banner Area -->
<section class="about-banner relative" style="margin-bottom:5px; margin-top:5px;">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Pemesanan
                </h1>
                <p class="text-white link-nav">Cek pemesanan kamu dibawah dan jangan lupa untuk memesan lagi !</p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->


